@import "./header.css";
@import "./hero.css";
@import "./usage.css";
@import "./restaurants.css";
@import "./footer.css";
@import "./menu.css";

*,
::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #9356dc;
  --color-secondary: #ff79da;
  --color-accent: #99e2d0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 100;
  line-height: normal;
}

h1 {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
